[submodule "libwebsockets"]
	path = libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "bipropellant-hoverboard-api"]
	path = bipropellant-hoverboard-api
	url = https://github.com/bipropellant/bipropellant-hoverboard-api.git
